.faq {
  background-color: var(--header);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 5rem;
}

.faq-header {
  padding-left: 1rem;
}
.faq-header h2 {
  font-weight: 700;
  color: var(--text);
  font-size: 4rem;
  text-transform: uppercase;
}
.faq-header p {
  color: var(--text);
  font-weight: 300;
  width: 30%;
  font-size: 1.1rem;
}

.collapse {
  visibility: collapse;
}
.collapse:not(td):not(tr):not(colgroup) {
  visibility: visible;
}
.collapse {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-rows: auto 0fr;
  transition: grid-template-rows 0.2s;
  width: 100%;
  border-radius: var(--rounded-box, 1rem /* 16px */);
}
.collapse-title,
.collapse > input[type="checkbox"],
.collapse > input[type="radio"],
.collapse-content {
  grid-column-start: 1;
  grid-row-start: 1;
}
.collapse-title,
.collapse > input[type="checkbox"],
.collapse > input[type="radio"],
.collapse-content {
  grid-column-start: 1;
  grid-row-start: 1;
}
.collapse > input[type="checkbox"],
.collapse > input[type="radio"] {
  appearance: none;
  opacity: 0;
}
.collapse > input[type="checkbox"],
.collapse > input[type="radio"] {
  appearance: none;
  opacity: 0;
}
.collapse[open],
.collapse-open,
.collapse:focus:not(.collapse-close) {
  grid-template-rows: auto 1fr;
}
.collapse[open],
.collapse-open,
.collapse:focus:not(.collapse-close) {
  grid-template-rows: auto 1fr;
}
.collapse:not(.collapse-close):has(> input[type="checkbox"]:checked),
.collapse:not(.collapse-close):has(> input[type="radio"]:checked) {
  grid-template-rows: auto 1fr;
}
.collapse:not(.collapse-close):has(> input[type="checkbox"]:checked),
.collapse:not(.collapse-close):has(> input[type="radio"]:checked) {
  grid-template-rows: auto 1fr;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
details.collapse {
  width: 100%;
}
details.collapse summary {
  position: relative;
  display: block;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
details.collapse summary::-webkit-details-marker {
  display: none;
}
.collapse:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
}
.collapse:has(.collapse-title:focus-visible),
.collapse:has(> input[type="checkbox"]:focus-visible),
.collapse:has(> input[type="radio"]:focus-visible) {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
}
.collapse:has(.collapse-title:focus-visible),
.collapse:has(> input[type="checkbox"]:focus-visible),
.collapse:has(> input[type="radio"]:focus-visible) {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
}
.collapse:has(.collapse-title:focus-visible),
.collapse:has(> input[type="checkbox"]:focus-visible),
.collapse:has(> input[type="radio"]:focus-visible) {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
}
.collapse:not(.collapse-open):not(.collapse-close) > input[type="checkbox"],
.collapse:not(.collapse-open):not(.collapse-close)
  > input[type="radio"]:not(:checked),
.collapse:not(.collapse-open):not(.collapse-close) > .collapse-title {
  cursor: pointer;
}
.collapse:not(.collapse-open):not(.collapse-close) > input[type="checkbox"],
.collapse:not(.collapse-open):not(.collapse-close)
  > input[type="radio"]:not(:checked),
.collapse:not(.collapse-open):not(.collapse-close) > .collapse-title {
  cursor: pointer;
}
.collapse:not(.collapse-open):not(.collapse-close) > input[type="checkbox"],
.collapse:not(.collapse-open):not(.collapse-close)
  > input[type="radio"]:not(:checked),
.collapse:not(.collapse-open):not(.collapse-close) > .collapse-title {
  cursor: pointer;
}
.collapse:focus:not(.collapse-open):not(.collapse-close):not(.collapse[open])
  > .collapse-title {
  cursor: unset;
}
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  z-index: 1;
}
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  z-index: 1;
}
.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  width: 100%;
  padding: 1rem /* 16px */;
  padding-inline-end: 3rem /* 48px */;
  min-height: 3.75rem /* 60px */;
  transition: background-color 0.2s ease-out;
}
.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  width: 100%;
  padding: 1rem /* 16px */;
  padding-inline-end: 3rem /* 48px */;
  min-height: 3.75rem /* 60px */;
  transition: background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open].collapse-arrow > .collapse-title:after,
.collapse-open.collapse-arrow > .collapse-title:after,
.collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  --tw-translate-y: -50%;
  --tw-rotate: 225deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}

/* 
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="checkbox"]:checked ~ .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-title:after {
  content: "−";
}


 */

.collapse-plus > .collapse-title:after {
  position: absolute;
  display: block;
  height: 0.5rem /* 8px */;
  width: 0.5rem /* 8px */;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  top: 0.9rem /* 14.4px */;
  inset-inline-end: 1.4rem /* 22.4px */;
  content: "+";
  pointer-events: none;
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}

/* .collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="checkbox"]:checked ~ .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-title:after {
  content: "−";
} */

.collapse-title,
.collapse > input[type="checkbox"],
.collapse > input[type="radio"],
.collapse-content {
  grid-column-start: 1;
  grid-row-start: 1;
}
.collapse:has(.collapse-title:focus-visible),
.collapse:has(> input[type="checkbox"]:focus-visible),
.collapse:has(> input[type="radio"]:focus-visible) {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 1));
}
.collapse-arrow > .collapse-title:after {
  position: absolute;
  display: block;
  height: 0.5rem /* 8px */;
  width: 0.5rem /* 8px */;
  --tw-translate-y: -100%;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 0.2s;
  top: 1.9rem /* 30.4px */;
  inset-inline-end: 1.4rem /* 22.4px */;
  content: "";
  transform-origin: 75% 75%;
  box-shadow: 2px 2px;
  pointer-events: none;
}
.collapse-plus > .collapse-title:after {
  position: absolute;
  display: block;
  height: 0.5rem /* 8px */;
  width: 0.5rem /* 8px */;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
  top: 0.9rem /* 14.4px */;
  inset-inline-end: 1.4rem /* 22.4px */;
  content: "+";
  pointer-events: none;
}
.collapse:not(.collapse-open):not(.collapse-close) > input[type="checkbox"],
.collapse:not(.collapse-open):not(.collapse-close)
  > input[type="radio"]:not(:checked),
.collapse:not(.collapse-open):not(.collapse-close) > .collapse-title {
  cursor: pointer;
}
.collapse:focus:not(.collapse-open):not(.collapse-close):not(.collapse[open])
  > .collapse-title {
  cursor: unset;
}
.collapse-title {
  position: relative;
}
.collapse-title,
:where(.collapse > input[type="checkbox"]),
:where(.collapse > input[type="radio"]) {
  width: 100%;
  padding: 1rem /* 16px */;
  padding-inline-end: 3rem /* 48px */;
  min-height: 3.75rem /* 60px */;
  transition: background-color 0.2s ease-out;
}
.collapse[open].collapse-arrow > .collapse-title:after,
.collapse-open.collapse-arrow > .collapse-title:after,
.collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  --tw-translate-y: -50%;
  --tw-rotate: 225deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.collapse[open].collapse-arrow > .collapse-title:after,
.collapse-open.collapse-arrow > .collapse-title:after,
.collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  --tw-translate-y: -50%;
  --tw-rotate: 225deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.collapse[open].collapse-arrow > .collapse-title:after,
.collapse-open.collapse-arrow > .collapse-title:after,
.collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  --tw-translate-y: -50%;
  --tw-rotate: 225deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.collapse[open].collapse-arrow > .collapse-title:after,
.collapse-open.collapse-arrow > .collapse-title:after,
.collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  --tw-translate-y: -50%;
  --tw-rotate: 225deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.collapse[open].collapse-arrow > .collapse-title:after,
.collapse-open.collapse-arrow > .collapse-title:after,
.collapse-arrow:focus:not(.collapse-close) > .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-arrow:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  --tw-translate-y: -50%;
  --tw-rotate: 225deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}
.collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-title:after,
.collapse-plus:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-title:after {
  content: "−";
}

/* collapse[open].collapse-plus > .collapse-title:after,
.collapse-open.collapse-plus > .collapse-title:after,
.collapse-plus:focus:not(.collapse-close) > .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="checkbox"]:checked ~ .collapse-title:after,
.collapse-plus:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-title:after {
    content: "−";
} */

.collapse-title,
.collapse > input[type="checkbox"],
.collapse > input[type="radio"],
.collapse-content {
  grid-column-start: 1;
  grid-row-start: 1;
}
.collapse-content {
  visibility: hidden;
  grid-column-start: 1;
  grid-row-start: 2;
  min-height: 0px;
  transition: visibility 0.2s;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  cursor: unset;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > .collapse-content,
.collapse-open > .collapse-content,
.collapse:focus:not(.collapse-close) > .collapse-content,
.collapse:not(.collapse-close)
  > input[type="checkbox"]:checked
  ~ .collapse-content,
.collapse:not(.collapse-close)
  > input[type="radio"]:checked
  ~ .collapse-content {
  visibility: visible;
  min-height: fit-content;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}
.collapse[open] > :where(.collapse-content),
.collapse-open > :where(.collapse-content),
.collapse:focus:not(.collapse-close) > :where(.collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="checkbox"]:checked ~ .collapse-content),
.collapse:not(.collapse-close)
  > :where(input[type="radio"]:checked ~ .collapse-content) {
  padding-bottom: 1rem /* 16px */;
  transition: padding 0.2s ease-out, background-color 0.2s ease-out;
}

.question {
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--text);
}
.answer {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--text);
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.faq .divider {
  width: 100%;
  height: 2px;
  background-color: var(--soft-purple);
}

@media (max-width: 767px) {
  .faq-header h2 {
    font-weight: 600;
    font-size: 2rem;
    width: 100%;
    line-height: 2rem;
    text-align: center;
  }

  .faq-header p {
    color: var(--text);
    font-weight: 200;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    font-size: 0.9rem;
  }
  .faq {
    padding: 2rem;
  }
  .question {
    font-weight: 400;
    font-size: 1rem;
  }
  .answer {
    font-weight: 200;
    font-size: 0.7rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
}
