footer {
  background-color: var(--footer);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

footer h6 {
  font-weight: 700;
  color: var(--text);
  font-size: 3rem;
  width: 40%;
  flex: 1;
}
.footer-des {
  color: var(--text);
  font-weight: 300;
  width: 30%;
  font-size: 0.9rem;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-body {
  display: flex;
  gap: 2rem;
  align-items: flex-end;
}
footer .divider {
  width: 100%;
  height: 1px;
  background-color: var(--soft-purple);
  margin: 2rem 0rem 0.3rem;
}

.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.end p {
  font-size: 0.7rem;
  text-wrap: nowrap;
  color: var(--text);
}
.terms-policy {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
}
.contact .infos {
  display: flex;
  flex-direction: column;
}

.contact .infos span {
  font-size: 0.7rem;
  color: var(--text);
}

.contact .icon {
  aspect-ratio: 1/1;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 99px;
  display: grid;
  place-items: center;

  background-color: var(--text);
  color: var(--solution-p);
}

.footer-image {
  position: absolute;
  right: 6%;
  width: 570px;
  height: auto;
  bottom: 20%;
  z-index: 3;
}

@media (max-width: 767px) {
  footer h6 {
    font-weight: 600;
    color: var(--text);
    font-size: 2rem;
    width: 100%;
    line-height: 2rem;
    text-align: center;
    flex: 0;
  }
  .footer-des {
    color: var(--text);
    font-weight: 200;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
  }
  footer {
    padding: 2rem;
  }
  .footer-image {
    position: absolute;
    width: 100vw;
    height: auto;
    right: 0%;
    z-index: 3;

    bottom: 0%;
    transform: rotate(67deg);
  }
  .footer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts {
    flex-direction: column;
  }
  .contact {
    flex-direction: column;
    width: 100%;
  }

  .end {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .end p {
    font-size: 0.5rem;
    color: var(--text);
  }
  .terms-policy {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  footer .divider {
    width: 100%;
    height: 1px;
    background-color: var(--soft-purple);
    margin: 1rem 0rem 0.3rem;
  }
  .footer-image-placehoder {
    max-width: 100% !important;
    height: 50vh;
    background: inherit;
  }
}
