.your-partner {
  background-color: var(--header);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 2rem 5rem 0rem 5rem;
}
.your-partner-header {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.your-partner-header-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem 0;
}

.your-partner-header-text .small-text {
  color: var(--small-text) !important;
  font-weight: 700;
}

.your-partner-header-text h2 {
  font-weight: 700;
  color: var(--text);
  font-size: 3rem;
  text-wrap: wrap;

  line-height: 3.6rem;
}

.your-partner-header-text p {
  color: var(--text);
  font-weight: 300;
}
.your-partner-header-text h4 {
  color: var(--first-button);
}
.partner-cols {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.partner-cols .icon {
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
  border-radius: 99px;
  display: grid;
  place-items: center;
  background-color: var(--text);
  color: var(--first-button);
}

.phones-image {
  width: 570px;
  height: auto;
}
/* .your-partner-footer {
    display: flex;
    justify-content: center;
  } */

.your-partner-footer h3 {
  font-weight: 700;
  color: var(--text);
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.your-partner-footer p {
  color: var(--text);
  font-weight: 300;
  text-align: center;
}
.image-wrapper {
  width: 100%;
  height: auto;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phone-image-wrapper {
  width: 100%;
  height: auto;
}
.phone-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.divider div {
  width: 6rem;
  height: 1px;
  background-color: var(--text);
}

.bottom-hidden-pages {
  opacity: 0;
  transform: translateY(100%);
  transition: all 2s;
}
.bottom-show-pages {
  opacity: 1;
  transform: translateY(10%);
}

@media (max-width: 767px) {
  .bottom-hidden-pages {
    opacity: 0;
    transform: translateY(100%);
    transition: all 2s;
  }
  .bottom-show-pages {
    opacity: 1;
    transform: translateY(30%);
  }

  .your-partner-header {
    flex-direction: column;
  }
  .phones-image {
    width: 350px;
  }
  .your-partner {
    padding: 2rem 2rem;
  }
  .your-partner-header-text {
    align-items: center;
    gap: 0.3rem;
    padding: 0.3rem 0;
  }
  .your-partner-header-text h2 {
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
  }
  .partner-cols {
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
  }
  .your-partner-header-text p {
    text-align: center;
  }
  .your-partner-header-text h4 {
    text-align: center;
  }
  .image-wrapper {
    display: none;
  }
}

@media (min-width: 767px) {
  .phone-image-wrapper {
    display: none;
  }
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stars li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #ff81b9;
  animation: animate 25s linear infinite;
  bottom: -150px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.stars li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.stars li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.stars li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.stars li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.stars li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.stars li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.stars li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.stars li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.stars li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.stars li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
