.your-partner {
  background-color: var(--header);
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 2rem 5rem 0rem 5rem;
}
.your-partner-header {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
.your-partner-header-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 2rem 0;
}

.your-partner-header-text .small-text {
  color: var(--small-text) !important;
  font-weight: 700;
}

.your-partner-header-text h2 {
  font-weight: 700;
  color: var(--text);
  font-size: 3rem;
  text-wrap: wrap;

  line-height: 3.6rem;
}

.your-partner-header-text p {
  color: var(--text);
  font-weight: 300;
}
.your-partner-header-text h4 {
  color: var(--first-button);
}
.partner-cols {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.partner-cols .icon {
  aspect-ratio: 1/1;
  width: 4rem;
  height: 4rem;
  border-radius: 99px;
  display: grid;
  place-items: center;
  background-color: var(--text);
  color: var(--first-button);
}

.phones-image {
  width: 570px;
  height: auto;
}
/* .your-partner-footer {
    display: flex;
    justify-content: center;
  } */

.your-partner-footer h3 {
  font-weight: 700;
  color: var(--text);
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.your-partner-footer p {
  color: var(--text);
  font-weight: 300;
  text-align: center;
}
.image-wrapper {
  width: 100%;
  height: auto;
}
.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.phone-image-wrapper {
  width: 100%;
  height: auto;
}
.phone-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.divider div {
  width: 6rem;
  height: 1px;
  background-color: var(--text);
}

@media (max-width: 767px) {
  .your-partner-header {
    flex-direction: column;
  }
  .phones-image {
    width: 350px;
  }
  .your-partner {
    padding: 2rem 2rem;
  }
  .your-partner-header-text {
    align-items: center;
    gap: 0.3rem;
    padding: 0.3rem 0;
  }
  .your-partner-header-text h2 {
    font-weight: 600;
    line-height: 3rem;
    text-align: center;
    font-size: 2rem;
  }
  .partner-cols {
    gap: 1rem;
    flex-direction: column;
    margin-top: 2rem;
  }
  .your-partner-header-text p {
    text-align: center;
  }
  .your-partner-header-text h4 {
    text-align: center;
  }
  .image-wrapper {
    display: none;
  }
}

@media (min-width: 767px) {
  .phone-image-wrapper {
    display: none;
  }
}

.bottom-hidden-pages {
  opacity: 0;
  transform: translateY(100%);
  transition: all 2s;
}
.bottom-show-pages {
  opacity: 1;
  transform: translateY(10%);
}
